.m-gallery {
  width: span(12 of 12);
  margin-left: auto;
  margin-right: auto;
}

.m-gallery__item {
  list-style: none;
  @include span(4 of 12);
  margin-bottom: gutter(12);
  &:nth-child(3n) {
    @include last;
  }
}
