.l-site-inner {
  margin-left: auto;
  margin-right: auto;
}
.l-wrap {
  @include container($content-width);
}
.l-content {
  @include cf;
  @include span(12 of 16);
  margin-top: 5vh;
  padding-bottom: 1rem;
}

.l-sidebar {
  @include cf;
  @include span(4 of 16 last);
  margin-top: 5vh;
  padding-bottom: 1rem;

  li {
    list-style: none;
  }

  a {
    color: #666;
    padding-left: 1rem;
    line-height: 2;
    text-decoration: none;
  }
}

.l-site-header {
  background: $header-bg;
  .l-site-header__link {
    color: $header-font-color;
    text-decoration: none;
    &:hover {
      color: $header-hover-font-color;
    }
  }
  .l-site-header__logo {
    float: left;
    line-height: $header-line-height;
    font-size: 1.5rem;
  }
}
.l-site-footer {
  background: $footer-bg;
  /*margin-top: 5vh;*/
}
